.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  z-index: 1;

  display: flex;
  padding: 20px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
  /* background-color: #111; */
}

.nav__black {
  background-color: #111;
}

.nav__logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
